@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    
}

header {
    height: 277px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

header > h1 {
    padding-top: 70px;
}

header > p {
    padding-top: 20px;
}

header a:visited {
    color: white;
}